@media print {
    body, th, td, caption {
        color: black !important;
    }
    .navbar-custom, .ugras-tartalom, video, .shadow-img, .hobbi-img, figure, footer {
        display:none;
    }
    .content-center {
        display:flex;
        align-items:center;
        justify-content: center;
    }
    section {
        break-inside:avoid;
    }
    input[type=text], textarea{
        width:100%;
        height:auto;
    }
}