@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Medium.ttf");
}

body {
	font-family: Montserrat, Helvetica, sans-serif;
}

.ugras-tartalom {
	position:absolute;
	top:-100px;
}
.ugras-tartalom:focus {
	position:static;
}

/* COLORS */
.bg-color-1 {
	background-color: #463F3A;
}
.bg-color-2 {
	background-color: #8A817C;
}
.bg-color-3 {
	background-color: #BCB8B1;
}
.bg-color-4 {
	background-color: #F4F3EE;
}
.b-color-5 {
	background-color: #E0AFA0;
}

/* NAVBAR */
#activate-normal {
	display: none;
}

/* CONTENT */
.top {
	margin-top:140px;
}
caption {
	color: rgb(62, 62, 62);
}
.content-center {
	display:flex;
	align-items:center;
	justify-content: center;
}
.shadow-img {
	width: 70%;
	height: auto;
	transition: 0.3s;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
}
.shadow-img:hover {
	box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.8);
}
video, .hobbi-img {
	width: 100%;
	height: auto;
	transition:0.3s;
	cursor: pointer;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
}
.hobbi-img:hover {
	opacity: 0.8;
	box-shadow: 0px 1px 12px #E0AFA0;
}
.text-justify {
	text-align: justify;
}
aside {
	color:rgb(93, 93, 93);
}
.form-box {
	background-image: url("../media/texture.jpg");
	background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
	border-radius: 20px;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
}
input[type=text], textarea{
	width:100%;
	height:auto;
  }
.kapcs-icon {
	font-size:2rem;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
.kapcs-text {
	transition:0.1s;
	font-size:1.2rem;
}
a.link-visit {
	color:black;
}
a.link-visit:visited {
	color:#800080;
}
a.link-visit:hover {
	color:#d016d0;
}